name: gh-Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy_web:
    runs-on: ubuntu-latest
    environment: secrets

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
            channel: 'stable'

      - name: Enable Flutter Web
        run: flutter config --enable-web
        
      - name: 'Create env file'
        run: |
            echo "${{ secrets.ENV_FILE }}" > .env

      - name: Download Dependencies
        run: flutter pub get

      - name: Build
        run: flutter build web

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./build/web
            force_orphan: true
            user_name: 'github-ci[bot]'
            user_email: 'github-actions[bot]@users.noreply.github.com'
            commit_message: 'Publish to gh-pages'